*{
    margin:0;
    padding:0;
}

body{
    font-family: "Circular Std", sans-serif;
}

/* PÁGINA PRINCIPAL */

.container{
    list-style: none;
    list-style: none;
    background-color: #2D572C;
}

.container #logo{
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  color:white;
  float:left;
  padding:9px;
}

.menu{    
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    display: inline-block;
    padding:10px;
    margin: 10px;
    font-weight: 450;
    letter-spacing:2px;
}

.menu ul li a{
    color:white;
    text-decoration: none;
}

.corpo{
    margin-left:100px;
    margin-right: 100px;
    margin-top:30px;
    background-color: yellow;
    #height:auto;
}

.corpo img{
    height: 500px;
    margin-left: 400px;
}

/* PÁGINA SOBRE */

.about{
    background-color: yellow;
    margin-left:100px;
    margin-right: 100px;
}

.about2{
    background-color: orange;
}

/* PÁGINA MAPA */
#svg-map path { fill:#0094d9 }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#003399 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }

