*{
    margin:0;
    padding:0;
}

body{
    font-family: "Circular Std", sans-serif;
}

/* PÁGINA PRINCIPAL */

.container{
    list-style: none;
    list-style: none;
    background-color: #2D572C;
}

.container #logo{
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  color:white;
  float:left;
  padding:9px;
}

.menu{    
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    display: inline-block;
    padding:10px;
    margin: 10px;
    font-weight: 450;
    letter-spacing:2px;
}

.menu ul li a{
    color:white;
    text-decoration: none;
}

.corpo{
    margin-left:100px;
    margin-right: 100px;
    margin-top:30px;
    #height:auto;
    display: flex;
    justify-content: center;
}

.corpo object{
    height: 800px;
    width: 1000px;
    
}


/* PÁGINA MAPA */
#mapa path{ 
    fill:#2D572C 
}

#mapa text{ 
    fill:#fff;
    font:12px Arial-BoldMT, sans-serif; 
    cursor:pointer 
}

#mapa a{ 
    text-decoration:none 

}
#mapa a:hover{
    cursor:pointer;
    text-decoration:none 
}

#mapa a:hover path{
    fill:#65A364 !important 
}

#mapa .circle{ 
    fill:#45A343 
}

#mapa a:hover .circle{
    fill:#65A364 !important; 
    cursor:pointer 
}

/*PAGINA SOBRE COVID*/

body{
	font-family: sans-serif;
	

}
#p1{
	
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #2D572C;
	text-decoration: white; 
}
header nav ul {
	list-style: none;
	padding-left: 700px;

}
header nav ul li {
	display: inline-block;
	margin-right: 35px;

}
header nav ul li {
	font-size: 15px;
	color: #000;
	text-decoration:none;
}
nav ul li a{
	color: white;
}
header ul li a{
	text-decoration:none;
}
h1{
	text-transform: capitalize;
	font-size: 30px;
	color: #2D572C;
}
h1{
	color: #2D572C;
}
h2{
	color: #2D572C;
}
p{
	font-size: 16px;
	font-family: sans-serif;
	text-align: left;
}
#principal{
	margin-left: auto;
	margin-right: auto;
}
#p2{
	float: right;
}
h3{
	text-align: center
}
#logo{
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
  color:white;
  float:left;
  padding:9px;
}
